body {
  margin: 0px;
  background-image: url("../images/retro_Color_Palett.jpg");
}

.header {
  background-color: #ffc907;
}
.adapter {
  width: 25px;
  height: 30px;
  margin-top: 25px;
}
.page {
  font-family: "Contrail One", cursive;
  font-size: 20px;
}

.paulBufano {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5%;
}
#title {
  text-align: center;
  font-family: "Monoton", cursive;
}

.main {
  width: 100%;
  background-color: white;
  opacity: 0.9;
}
.content {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
#timer {
  width: 100%;
}

.startButton {
  text-align: center;
  width: 300px;
  text-align: center;
  margin-bottom: 30px;
  border: black solid 1px;
  font-size: 30px;
}

.question {
  margin-bottom: 50px;
}
.choice {
  margin-bottom: 10px;
  border: black solid 1px;
}
